{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
    <div class="container" style="padding:10%; width: 1000px;">
        <h1 style="text-align: center; padding: 2%; color: blue;">Add New Task</h1>
        {{render_form(form)}}
    </div>
{% endblock %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <img src="static/icon.png" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;">
    <label class="navbar-brand" href="#">TODO List</label>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        </ul>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>